<div class="alert alert-info mx-4" id="tituloseccion1" role="alert"> <!-- titulo experiencia -->
    <h6 id="titulo_exp">Experiencia</h6>
</div>
<div class="container"> <!-- tabla experiencia -->
    <table class="table table-dark table-striped"> <!-- tabla "experiencia" -->
        <thead> <!-- encabezado de tabla -->
            <tr>
                <th>Desde</th>
                <th>Hasta</th>
                <th>Empresa</th>
                <th>Descripción</th>
            </tr>
        </thead>
        <tbody id="datos_experiencia"> 
        <tr *ngFor="let item of listaExperiencia"> <!-- datos venen del json -->
            <td>{{item.desde}}</td>
            <td>{{item.hasta}}</td>
            <td>{{item.empresa}}</td>
            <td>{{item.descripcion}}</td>
            <button class="btn btn-outline-primary btn-sm" style=display:none id="editExp">Edit</button>
        </tr>
        </tbody>
    </table>
</div>
